.fl-NOWHERE, .fl-ABKHAZIA, .fl-AD, .fl-AE, .fl-AF, .fl-AG, .fl-AI, .fl-AL, .fl-AM, .fl-AN, .fl-AO, .fl-AQ, .fl-AR, .fl-AS, .fl-AT, .fl-AU, .fl-AW, .fl-AX, .fl-AZ, .fl-BA, .fl-BB, .fl-BD, .fl-BE, .fl-BF, .fl-BG, .fl-BH, .fl-BI, .fl-BJ, .fl-BL, .fl-BM, .fl-BN, .fl-BO, .fl-BR, .fl-BS, .fl-BT, .fl-BV, .fl-BW, .fl-BY, .fl-BZ, .fl-CA, .fl-CC, .fl-CD, .fl-CF, .fl-CG, .fl-CH, .fl-CI, .fl-CK, .fl-CL, .fl-CM, .fl-CN, .fl-CO, .fl-CR, .fl-CU, .fl-CV, .fl-CX, .fl-CY, .fl-CZ, .fl-DE, .fl-DJ, .fl-DK, .fl-DM, .fl-DO, .fl-DZ, .fl-EC, .fl-EE, .fl-EG, .fl-EH, .fl-ER, .fl-ES-CE, .fl-ES-ML, .fl-ES, .fl-ET, .fl-EU, .fl-FI, .fl-FJ, .fl-FK, .fl-FM, .fl-FO, .fl-FR, .fl-GA, .fl-GB, .fl-GD, .fl-GE, .fl-GF, .fl-GG, .fl-GH, .fl-GI, .fl-GL, .fl-GM, .fl-GN, .fl-GP, .fl-GQ, .fl-GR, .fl-GS, .fl-GT, .fl-GU, .fl-GW, .fl-GY, .fl-HK, .fl-HM, .fl-HN, .fl-HR, .fl-HT, .fl-HU, .fl-IC, .fl-ID, .fl-IE, .fl-IL, .fl-IM, .fl-IN, .fl-IO, .fl-IQ, .fl-IR, .fl-IS, .fl-IT, .fl-JE, .fl-JM, .fl-JO, .fl-JP, .fl-KE, .fl-KG, .fl-KH, .fl-KI, .fl-KM, .fl-KN, .fl-KOSOVO, .fl-KP, .fl-KR, .fl-KW, .fl-KY, .fl-KZ, .fl-LA, .fl-LB, .fl-LC, .fl-LI, .fl-LK, .fl-LR, .fl-LS, .fl-LT, .fl-LU, .fl-LV, .fl-LY, .fl-MA, .fl-MC, .fl-MD, .fl-ME, .fl-MF, .fl-MG, .fl-MH, .fl-MK, .fl-ML, .fl-MM, .fl-MN, .fl-MO, .fl-MP, .fl-MQ, .fl-MR, .fl-MS, .fl-MT, .fl-MU, .fl-MV, .fl-MW, .fl-MX, .fl-MY, .fl-MZ, .fl-NA, .fl-NC, .fl-NE, .fl-NF, .fl-NG, .fl-NI, .fl-NKR, .fl-NL, .fl-NO, .fl-NP, .fl-NR, .fl-NU, .fl-NZ, .fl-OM, .fl-PA, .fl-PE, .fl-PF, .fl-PG, .fl-PH, .fl-PK, .fl-PL, .fl-PM, .fl-PN, .fl-PR, .fl-PS, .fl-PT, .fl-PW, .fl-PY, .fl-QA, .fl-RE, .fl-RO, .fl-RS, .fl-RU, .fl-RW, .fl-SA, .fl-SB, .fl-SC, .fl-SD, .fl-SE, .fl-SG, .fl-SH, .fl-SI, .fl-SJ, .fl-SK, .fl-SL, .fl-SM, .fl-SN, .fl-SO, .fl-SOUTH-OSSETIA, .fl-SR, .fl-SS, .fl-ST, .fl-SV, .fl-SY, .fl-SZ, .fl-TC, .fl-TD, .fl-TF, .fl-TG, .fl-TH, .fl-TJ, .fl-TK, .fl-TL, .fl-TM, .fl-TN, .fl-TO, .fl-TR, .fl-TT, .fl-TV, .fl-TW, .fl-TZ, .fl-UA, .fl-UG, .fl-UM, .fl-US, .fl-UY, .fl-UZ, .fl-VA, .fl-VC, .fl-VE, .fl-VG, .fl-VI, .fl-VN, .fl-VU, .fl-WF, .fl-WS, .fl-YE, .fl-YT, .fl-ZA, .fl-ZM, .fl-ZW { background: url("flags24flat.png") no-repeat 0 9px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; *display: inline; *zoom: 1; vertical-align: baseline; position: relative; overflow: hidden; width: 22px; height: 16px; font-size: 0; line-height: 0; margin: 0; padding: 0; }

.fl-ABKHAZIA {background-position: 0 -0px}
.fl-AD {background-position: 0 -16px}
.fl-AE {background-position: 0 -32px}
.fl-AF {background-position: 0 -48px}
.fl-AG {background-position: 0 -64px}
.fl-AI {background-position: 0 -80px}
.fl-AL {background-position: 0 -96px}
.fl-AM {background-position: 0 -112px}
.fl-AN {background-position: 0 -128px}
.fl-AO {background-position: 0 -144px}
.fl-AQ {background-position: 0 -160px}
.fl-AR {background-position: 0 -176px}
.fl-AS {background-position: 0 -192px}
.fl-AT {background-position: 0 -208px}
.fl-AU {background-position: 0 -224px}
.fl-AW {background-position: 0 -240px}
.fl-AX {background-position: 0 -256px}
.fl-AZ {background-position: 0 -272px}
.fl-BA {background-position: 0 -288px}
.fl-BB {background-position: 0 -304px}
.fl-BD {background-position: 0 -320px}
.fl-BE {background-position: 0 -336px}
.fl-BF {background-position: 0 -352px}
.fl-BG {background-position: 0 -368px}
.fl-BH {background-position: 0 -384px}
.fl-BI {background-position: 0 -400px}
.fl-BJ {background-position: 0 -416px}
.fl-BL {background-position: 0 -432px}
.fl-BM {background-position: 0 -448px}
.fl-BN {background-position: 0 -464px}
.fl-BO {background-position: 0 -480px}
.fl-BR {background-position: 0 -496px}
.fl-BS {background-position: 0 -512px}
.fl-BT {background-position: 0 -528px}
.fl-BV {background-position: 0 -544px}
.fl-BW {background-position: 0 -560px}
.fl-BY {background-position: 0 -576px}
.fl-BZ {background-position: 0 -592px}
.fl-CA {background-position: 0 -608px}
.fl-CC {background-position: 0 -624px}
.fl-CD {background-position: 0 -640px}
.fl-CF {background-position: 0 -656px}
.fl-CG {background-position: 0 -672px}
.fl-CH {background-position: 0 -688px}
.fl-CI {background-position: 0 -704px}
.fl-CK {background-position: 0 -720px}
.fl-CL {background-position: 0 -736px}
.fl-CM {background-position: 0 -752px}
.fl-CN {background-position: 0 -768px}
.fl-CO {background-position: 0 -784px}
.fl-CR {background-position: 0 -800px}
.fl-CU {background-position: 0 -816px}
.fl-CV {background-position: 0 -832px}
.fl-CX {background-position: 0 -848px}
.fl-CY {background-position: 0 -864px}
.fl-CZ {background-position: 0 -880px}
.fl-DE {background-position: 0 -896px}
.fl-DJ {background-position: 0 -912px}
.fl-DK {background-position: 0 -928px}
.fl-DM {background-position: 0 -944px}
.fl-DO {background-position: 0 -960px}
.fl-DZ {background-position: 0 -976px}
.fl-EC {background-position: 0 -992px}
.fl-EE {background-position: 0 -1008px}
.fl-EG {background-position: 0 -1024px}
.fl-EH {background-position: 0 -1040px}
.fl-ER {background-position: 0 -1056px}
.fl-ES-CE {background-position: 0 -1072px}
.fl-ES-ML {background-position: 0 -1088px}
.fl-ES {background-position: 0 -1104px}
.fl-ET {background-position: 0 -1120px}
.fl-EU {background-position: 0 -1136px}
.fl-FI {background-position: 0 -1152px}
.fl-FJ {background-position: 0 -1168px}
.fl-FK {background-position: 0 -1184px}
.fl-FM {background-position: 0 -1200px}
.fl-FO {background-position: 0 -1216px}
.fl-FR {background-position: 0 -1232px}
.fl-GA {background-position: 0 -1248px}
.fl-GB {background-position: 0 -1264px}
.fl-GD {background-position: 0 -1280px}
.fl-GE {background-position: 0 -1296px}
.fl-GF {background-position: 0 -1312px}
.fl-GG {background-position: 0 -1328px}
.fl-GH {background-position: 0 -1344px}
.fl-GI {background-position: 0 -1360px}
.fl-GL {background-position: 0 -1376px}
.fl-GM {background-position: 0 -1392px}
.fl-GN {background-position: 0 -1408px}
.fl-GP {background-position: 0 -1424px}
.fl-GQ {background-position: 0 -1440px}
.fl-GR {background-position: 0 -1456px}
.fl-GS {background-position: 0 -1472px}
.fl-GT {background-position: 0 -1488px}
.fl-GU {background-position: 0 -1504px}
.fl-GW {background-position: 0 -1520px}
.fl-GY {background-position: 0 -1536px}
.fl-HK {background-position: 0 -1552px}
.fl-HM {background-position: 0 -1568px}
.fl-HN {background-position: 0 -1584px}
.fl-HR {background-position: 0 -1600px}
.fl-HT {background-position: 0 -1616px}
.fl-HU {background-position: 0 -1632px}
.fl-IC {background-position: 0 -1648px}
.fl-ID {background-position: 0 -1664px}
.fl-IE {background-position: 0 -1680px}
.fl-IL {background-position: 0 -1696px}
.fl-IM {background-position: 0 -1712px}
.fl-IN {background-position: 0 -1728px}
.fl-IO {background-position: 0 -1744px}
.fl-IQ {background-position: 0 -1760px}
.fl-IR {background-position: 0 -1776px}
.fl-IS {background-position: 0 -1792px}
.fl-IT {background-position: 0 -1808px}
.fl-JE {background-position: 0 -1824px}
.fl-JM {background-position: 0 -1840px}
.fl-JO {background-position: 0 -1856px}
.fl-JP {background-position: 0 -1872px}
.fl-KE {background-position: 0 -1888px}
.fl-KG {background-position: 0 -1904px}
.fl-KH {background-position: 0 -1920px}
.fl-KI {background-position: 0 -1936px}
.fl-KM {background-position: 0 -1952px}
.fl-KN {background-position: 0 -1968px}
.fl-KOSOVO {background-position: 0 -1984px}
.fl-KP {background-position: 0 -2000px}
.fl-KR {background-position: 0 -2016px}
.fl-KW {background-position: 0 -2032px}
.fl-KY {background-position: 0 -2048px}
.fl-KZ {background-position: 0 -2064px}
.fl-LA {background-position: 0 -2080px}
.fl-LB {background-position: 0 -2096px}
.fl-LC {background-position: 0 -2112px}
.fl-LI {background-position: 0 -2128px}
.fl-LK {background-position: 0 -2144px}
.fl-LR {background-position: 0 -2160px}
.fl-LS {background-position: 0 -2176px}
.fl-LT {background-position: 0 -2192px}
.fl-LU {background-position: 0 -2208px}
.fl-LV {background-position: 0 -2224px}
.fl-LY {background-position: 0 -2240px}
.fl-MA {background-position: 0 -2256px}
.fl-MC {background-position: 0 -2272px}
.fl-MD {background-position: 0 -2288px}
.fl-ME {background-position: 0 -2304px}
.fl-MF {background-position: 0 -2320px}
.fl-MG {background-position: 0 -2336px}
.fl-MH {background-position: 0 -2352px}
.fl-MK {background-position: 0 -2368px}
.fl-ML {background-position: 0 -2384px}
.fl-MM {background-position: 0 -2400px}
.fl-MN {background-position: 0 -2416px}
.fl-MO {background-position: 0 -2432px}
.fl-MP {background-position: 0 -2448px}
.fl-MQ {background-position: 0 -2464px}
.fl-MR {background-position: 0 -2480px}
.fl-MS {background-position: 0 -2496px}
.fl-MT {background-position: 0 -2512px}
.fl-MU {background-position: 0 -2528px}
.fl-MV {background-position: 0 -2544px}
.fl-MW {background-position: 0 -2560px}
.fl-MX {background-position: 0 -2576px}
.fl-MY {background-position: 0 -2592px}
.fl-MZ {background-position: 0 -2608px}
.fl-NA {background-position: 0 -2624px}
.fl-NC {background-position: 0 -2640px}
.fl-NE {background-position: 0 -2656px}
.fl-NF {background-position: 0 -2672px}
.fl-NG {background-position: 0 -2688px}
.fl-NI {background-position: 0 -2704px}
.fl-NKR {background-position: 0 -2720px}
.fl-NL {background-position: 0 -2736px}
.fl-NO {background-position: 0 -2752px}
.fl-NP {background-position: 0 -2768px}
.fl-NR {background-position: 0 -2784px}
.fl-NU {background-position: 0 -2800px}
.fl-NZ {background-position: 0 -2816px}
.fl-OM {background-position: 0 -2832px}
.fl-PA {background-position: 0 -2848px}
.fl-PE {background-position: 0 -2864px}
.fl-PF {background-position: 0 -2880px}
.fl-PG {background-position: 0 -2896px}
.fl-PH {background-position: 0 -2912px}
.fl-PK {background-position: 0 -2928px}
.fl-PL {background-position: 0 -2944px}
.fl-PM {background-position: 0 -2960px}
.fl-PN {background-position: 0 -2976px}
.fl-PR {background-position: 0 -2992px}
.fl-PS {background-position: 0 -3008px}
.fl-PT {background-position: 0 -3024px}
.fl-PW {background-position: 0 -3040px}
.fl-PY {background-position: 0 -3056px}
.fl-QA {background-position: 0 -3072px}
.fl-RE {background-position: 0 -3088px}
.fl-RO {background-position: 0 -3104px}
.fl-RS {background-position: 0 -3120px}
.fl-RU {background-position: 0 -3136px}
.fl-RW {background-position: 0 -3152px}
.fl-SA {background-position: 0 -3168px}
.fl-SB {background-position: 0 -3184px}
.fl-SC {background-position: 0 -3200px}
.fl-SD {background-position: 0 -3216px}
.fl-SE {background-position: 0 -3232px}
.fl-SG {background-position: 0 -3248px}
.fl-SH {background-position: 0 -3264px}
.fl-SI {background-position: 0 -3280px}
.fl-SJ {background-position: 0 -3296px}
.fl-SK {background-position: 0 -3312px}
.fl-SL {background-position: 0 -3328px}
.fl-SM {background-position: 0 -3344px}
.fl-SN {background-position: 0 -3360px}
.fl-SO {background-position: 0 -3376px}
.fl-SOUTH-OSSETIA {background-position: 0 -3392px}
.fl-SR {background-position: 0 -3408px}
.fl-SS {background-position: 0 -3424px}
.fl-ST {background-position: 0 -3440px}
.fl-SV {background-position: 0 -3456px}
.fl-SY {background-position: 0 -3472px}
.fl-SZ {background-position: 0 -3488px}
.fl-TC {background-position: 0 -3504px}
.fl-TD {background-position: 0 -3520px}
.fl-TF {background-position: 0 -3536px}
.fl-TG {background-position: 0 -3552px}
.fl-TH {background-position: 0 -3568px}
.fl-TJ {background-position: 0 -3584px}
.fl-TK {background-position: 0 -3600px}
.fl-TL {background-position: 0 -3616px}
.fl-TM {background-position: 0 -3632px}
.fl-TN {background-position: 0 -3648px}
.fl-TO {background-position: 0 -3664px}
.fl-TR {background-position: 0 -3680px}
.fl-TT {background-position: 0 -3696px}
.fl-TV {background-position: 0 -3712px}
.fl-TW {background-position: 0 -3728px}
.fl-TZ {background-position: 0 -3744px}
.fl-UA {background-position: 0 -3760px}
.fl-UG {background-position: 0 -3776px}
.fl-UM {background-position: 0 -3792px}
.fl-US {background-position: 0 -3808px}
.fl-UY {background-position: 0 -3824px}
.fl-UZ {background-position: 0 -3840px}
.fl-VA {background-position: 0 -3856px}
.fl-VC {background-position: 0 -3872px}
.fl-VE {background-position: 0 -3888px}
.fl-VG {background-position: 0 -3904px}
.fl-VI {background-position: 0 -3920px}
.fl-VN {background-position: 0 -3936px}
.fl-VU {background-position: 0 -3952px}
.fl-WF {background-position: 0 -3968px}
.fl-WS {background-position: 0 -3984px}
.fl-YE {background-position: 0 -4000px}
.fl-YT {background-position: 0 -4016px}
.fl-ZA {background-position: 0 -4032px}
.fl-ZM {background-position: 0 -4048px}
.fl-ZW {background-position: 0 -4064px}